.linha-vertical {
	position: absolute;
	height: 500px;
	border-left: 4px solid;
	left: 600px;
	top: 140px;
  }
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url(https://image.freepik.com/fotos-gratis/simples-gradiente-pastel-roxo-rosa-e-azul-abstrato-para-o-design-de-plano-de-fundo_1962-1082.jpg);
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: rgb(241, 241, 241);
}

.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 30px;
}

.box{
	width: 300px;
	padding: 30px;
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%,-50%);
	background: black;
	text-align: center;
	border-radius: 80px 0px 80px 0px;
	opacity: 0.8;
}

.box input[type="text"],.box input[type="email"],.box input[type="password"]{
	border: 0;
	background: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	color: black;
	border: 1.5px solid rgb(255, 0, 157);
	padding: 14px 10px;
	width: 200px;
	outline: none;
	transition: 0.39s;
	font-size: 14px;
	border-radius: 30px;
}

.box input[type="text"]:focus,.box input[type="email"]:focus,.box input[type="password"]:focus{
	width: 280px;
	border-color: rgb(223, 2, 223);
}

.box input[type="submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	color: white;
	border: 1.5px solid rgb(255, 0, 157);
	padding: 14px 40px;
	outline: none;
	transition: 0.39s;
	font-size: 14px;
	border-radius: 30px;
	cursor: pointer;
}

.box input[type="submit"]:hover{
	background: rgb(197, 0, 164);
}

.box h5{
	color: white;
}

button.btn{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	color: white;
	border: 1.5px solid rgb(187, 2, 141);
	padding: 14px 40px;
	outline: none;
	transition: 0.39s;
	font-size: 14px;
	border-radius: 30px;
	cursor: pointer;
}

button.btn:hover{
	background: rgb(100, 2, 84);
}






* {
 margin: 0;
 padding: 0;
 }

/*Estilizando a nav da classe menu */
 .menu {
 width: 100%;
 height: 50px;
 background-color: #222;
 font-family: Arial;
 }

/*Estilizando as listas */
 .menu ul {
 list-style: none;
 position: relative;
 }

.menu ul li {
 width: 150px;
 float: left;
 }

.menu a {
 padding: 15px;
 display: block;
 text-decoration: none;
 text-align: center;
 background-color: #222;
 color: #fff;
 }

.menu ul ul {
 position: absolute;
 visibility: hidden;
 }

.menu ul li:hover ul {
 visibility: visible;
 }

.menu a:hover {
 background-color: #f4f4f4;
 color: #555;
 }

.menu ul ul li {
 float: none;
 border-bottom: solid 1px #ccc;
 }

.menu ul ul li a {
 background-color: #069;
 }

/*Criando o label */
 label[for=”bt_menu”]{
 padding: 5px;
 background-color: #222;
 color: #fff;
 font-family: Arial;
 text-align: center;
 font-size: 30px;
 cursor: pointer;
 height: 50px;
 }

#bt_menu {
 display: none;
 }

label[for=”bt_menu”]{
 display: none;
 }

/*Deixando o Menu Responsivo */
@media(max-width: 800px) {
label[for=”bt_menu”] {
 display: block;
 }
  
#bt_menu:checked ~ .menu{
 margin-left: 0;
 }
  
.menu{
 margin-top: 5px;
 margin-left: -100%;
 transition: all .4s;
 }
  
.menu ul li {
 width: 100%;
 float: none;
 }
  
.menu ul ul {
 position: static;
 overflow: hidden;
 max-height: 0;
 transition: all 4s;
 }
  
.menu ul li:hover ul {
 height: auto;
 max-height: 200px;
 }
  
 }


img.g1{
	display: block;
    margin-left: auto;
    margin-right: auto;

}

#estext{
	 margin: auto;
	width: 1100px;
	height: 140px;
	padding: 10px;
	background-color: white;
	text-align: center;
	border-radius: 20px;
	border: 3px solid #00BFFF;
}

h1.corh1{
	color: white;
}

img.imgt{
	border-radius: 10%;
}

.h5{
	font-size: 4%;
}

.nome {
	position: absolute;
	left: 860px;
	top: 290px;
	font-size: 55px;
	font-family: Gill Sans, sans-serif;
	font-style: italic;
	
}

.nomesecundario{
	position: absolute;
	left: 860px;
	top: 350px;
	font-size: 26px;
	font-family: Gill Sans, sans-serif;
	font-style: italic;
	color: #ff00dd;
}

img{
	position: absolute;
	width: 200px;
	left: 650px;
	top: 250px;
 }


 slider {
	display: block;
	width: 100%;
	height: 70%;
	background-color: #1f1f1f;
	overflow: hidden;
	position: absolute;
	border: 1px inset #050005;
   }
   
   slider > * {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: #1f1f1f;
	animation: slide 12s infinite;
	overflow: hidden;
	background-size: cover;
   }
   
   slide:nth-child(1){
	left: 0%;
	animation-delay: -1s;
	background-image: url(https://www.sobrebeleza.com/wp-content/uploads/2017/02/maquiagem-com-esponja-pincel-ou-dedos-d.jpg);
	background-size: cover;
	background-position: center;
   }
   
   slide:nth-child(2){
	animation-delay: 2s;
	background-image: url(https://www.altoastral.com.br/wp-content/uploads/2017/11/mulher-aplicando-sombra-olhos.jpg);
	background-size: cover;
	background-position: center;
   }
   
   slide:nth-child(3){
	animation-delay: 5s;
	background-image: url(https://i2.wp.com/blogdaana.com.br/wp-content/uploads/2019/04/resenha-m%C3%A1scara-c%C3%ADlios-revlon-mega-multiplier-blog-da-ana.jpg?fit=1024%2C576&ssl=1);
	background-size: cover;
	background-position: center;
   }
   
   slide:nth-child(4){
	left: 0%;
	animation-delay: 8s;
	background-image: url(https://www.opaque.com.br/wp-content/uploads/2018/12/batom-e-gloss-1138x640.png);
	background-size: cover;
	background-position: center;
   }

   slide a {
	font-family: Comfortaa;
	font-size: 70px;
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-top: 340px;
	color: #fff;
   }
   
   @keyframes slide {
	0% { left: 100%; width: 100%; }
	5% { left: 0%; }
	25% { left: 0%; }
	30% { left: -100%; width: 100%; }
	30.0001% { left: -100%; width: 0%; }
	100% { left: 100%; width: 0%; }
   }